# compiled output
node_modules
build
coverage

# configuration files
*.env

# Temp files
*.build.tsbuildinfo
*.tsbuildinfo

# Yarn Integrity file
.pnp.*
*yarn*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional eslint cache
.eslintcache

# Optional npm cache directory
.npm

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
**/.DS_Store

# Tests
/coverage
/.nyc_output
packages/master/**/coverage

# IDEs and editors
.idea
.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.husky
sendgrid.env
